# Set these environment variables or edit and copy this file into `.env`
# See: https://github.com/bkeepers/dotenv

TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
GMAIL_USERNAME=admin@example.org
GMAIL_PASSWORD=password
